/TP02/Exercise06_integrative/amountToPay/nbproject/private/
/TP02/Exercise06_integrative/amountToPay/build/
/TP02/Exercise06_integrative/basicCalculator/nbproject/private/
/TP02/Exercise07_integrative/basicCalculator/nbproject/private/
/TP02/Exercise07_integrative/basicCalculator/build/
/TP02/Exercise08_integrative/registrationLoop/nbproject/private/